<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leave-note-guestbook</title>
</head>
<body>
    <main>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="./">  Home</a> 
                    </li>
                    <li>
                        <a href="./leave-note.html">Leave a note</a>
                    </li>

                    <li>
                        <a href="./read-notes.html">Read notes</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section>
            <div>
                <h2>
                    Leave a note to the GuestBook
                </h2>

                <div>
                    <form action="" method="post">
                        <input type="text" name="name" placeholder="name">
                        <input type="text" name="email" placeholder="email">
                        <input type="button" name="submit" value="submit">
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>
</html>