<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/main.css">
    <title>read-notes-guestbook</title>
</head>
<body>
    <main>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="./">  Home</a> 
                    </li>
                    <li>
                        <a href="./leave-note.html">Leave a note</a>
                    </li>

                    <li>
                        <a href="./read-notes.html">Read notes</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section>
            <div>
                <h2>
                    Read the GuestBook's notes
                </h2>

    
            </div>
        </section>
    </main>
</body>
</html>