<%- include('partials/head.ejs') %>
<body>
  <div class="max-w-screen-xl h-screen mx-auto px-5 bg-white h-100">
    <div class="h-full flex flex-col items-center justify-center">
      <h1>Page not Found!!</h1>
    </div>
  </div>
  <%- include('partials/foot.ejs') %>
</body>
