<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sessions and cookies storage">
    <meta name="keywords" content="javaScript Node Express Espress sessions">
    <meta name="author" content="Geri">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./app.css">
</head>
<body>
    <div class="container">
        <form action="/user" method="post">
            <h2>Login</h2>
            <div class="input-field">
                <input type="text" name="username" id="username" placeholder="Enter Username">
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password" placeholder="Enter Password">
            </div>
            <input type="submit" value="LogIn">
        </form>
    </div>

</body>
</html>